body {
  font-family: "Okra", Helvetica, sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap");
#container {
  height: 500px;
  background: url("./brooke-lark-M4E7X3z80PQ-unsplash.jpg");
}
.navbar {
  border: 0px solid;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 40px;
  width: 400px;
  border: 0px solid white;
  cursor: pointer;
}

.logo p {
  margin-left: 5px;
  color: white;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 0px solid white;
  margin-right: 100px;
  width: 50%;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
li {
  list-style: none;
  color: white;
  letter-spacing: 1px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 200;
  color: rgb(255, 255, 255);
}
li a {
  text-decoration: none;
  color: white;
  font-family: "Okra", Helvetica, sans-serif;
}

/* CSS FOR HEADING CLASS*/
.heading {
  border: 0px solid;
  color: white;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.heading h1 {
  font-size: 80px;
  font-style: italic;
  font-weight: 1000;
  border: 0px solid;
  padding: 0px;
  line-height: 50px;
}
.heading h2 {
  font-size: 2rem;
  margin-top: 2px;
  border: 0px solid;
  line-height: 50px;
}
.line {
  border: 0px solid;
  width: 100px;
  font-weight: 100;
  font-size: 30px;
  color: rgb(180, 173, 173);
}
.search {
  border: 0px solid;
  width: 900px;
  margin: auto;
  padding: 15px;
  text-align: left;
  background-color: white;
  border-radius: 14px;
}

.search-location {
  width: 250px;
  padding: 10px;
  border: none;
  letter-spacing: 1px;
  font-size: 15px;
  border: 0px solid;
}
.search-dish {
  width: 500px;
  padding: 10px;
  border: none;
  letter-spacing: 1px;
  font-size: 15px;
}
.search:nth-child(1) {
  padding-top: 20px;
  border: 1px solid;
}
/*CARD SECTION CSS*/

.card-container {
  width: 90%;
  border: 0px solid;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.card {
  width: 600px;
  border-radius: 14px;
  border: 1px solid rgb(224, 217, 217);
  margin: 10px;
  transition: transform 0.1ms;
  cursor: pointer;
}
/*.card:hover {
  /*zoom effect
  width: 600px;
  transform: scale(1.1);
  border-radius: 14px;
  margin: 30px;
}*/
.card h3,
p {
  margin-left: 30px;
}
.card img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}
.card h3 {
  font-weight: lighter;
}

.card p {
  font-size: 17px;
  font-weight: lighter;
  color: rgb(155, 151, 151);
}
/*--2nd card Section CSS start--*/
.grid-container2 {
  width: 90%;
  border: 0px solid;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(50px, 6);
  gap: 30px;
  margin-top: 100px;
  padding: 10px;
}
.grid-card {
  border: 1px solid rgb(214, 213, 213);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 10px;
  line-height: 1.2;
  color: rgb(24, 21, 21);
  margin: 0px;
  font-family: "Assistant", sans-serif;
  border-radius: 15px;
  cursor: pointer;
}

.grid-card h3 {
  font-size: 22px;
  font-weight: lighter;
}

.grid-card h3 + h3,
.countries-card h3 {
  font-weight: bolder;
  color: rgb(116, 113, 113);
}
/*--Grid container End--*/
.head {
  border: 0px solid;
  width: 200px;
  margin-top: 50px;
  margin-left: 80px;
  font-family: "okra", sans-serif;
}
.countries-container {
  width: 90%;
  border: 0px solid;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(50px, 6);
  gap: 30px;
  margin-top: 10px;
  padding: 10px;
}
.countries-card {
  border: 1px solid rgb(214, 213, 213);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.2;
  color: rgb(24, 21, 21);
  font-family: "Assistant", sans-serif;
  border-radius: 15px;
  cursor: pointer;
}
.country {
  border: 0px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  text-align: center;
  height: 60px;
}
.country img {
  border: 0px solid;
  margin-right: 15px;
  width: 50px;
  height: 40px;
}
.country h5 {
  font-size: 22px;
  font-weight: lighter;
}
/*Footer Css */
footer {
  border: 0px solid;
  background-color: rgb(245, 244, 244);
  width: 100%;
}
.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
  margin-top: 30px;
}
.footer-card img {
  width: 100px;
  height: 40px;
  border: 0px solid;

}

.box {
  border: 0px solid red;
  margin-top: 40px;
  margin-right: 100px;
}
select {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  width: 100px;
  height: 50px;
  background-color: rgb(228, 223, 223);
}

.option {
  width: 500px;
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  border: 0px solid;
  margin: auto;
  padding: 0;
}
.footer-container {
  border: 0px solid green;
  margin: 20px;
}
.footer-container h5 {
  font-size: 17px;
  letter-spacing: 2px;
  font-family: "okra", sans-serif;
  font-weight: 500;
}

.footer-container h6 {
  font-size: 15px;
  font-weight: 100;
  font-family: "okra", sans-serif;
  color: rgb(105, 105, 105);
  line-height: 1px;
  letter-spacing: 1px;
}
.footer-container img {
  width: 150px;
  height: 50px;
  margin: 10px;
}

.line2 {
  border: 1px solid rgb(223, 223, 223);
  width: 90%;
  margin: auto;
}
.copyright {
  margin-left: 50px;
  color: rgb(79, 79, 79);
  line-height: 1.7rem;
  font-family: "okra", sans-serif;
}
