nav {
  width: 97.6%;
  border: 0px solid;
  display: flex;
  align-items: center;
  padding-left: 30px;
  background-color: #0f171e;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav a img {
  width: 80px;
  height: 25px;
  margin-top: 10px;
  border: 0px solid;
}
nav .navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid;
  margin-left: 15px;
  padding: 0;
}
.navbar-list li {
  margin-left: 10px;
  list-style: none;
}
.navbar-list li a {
  text-decoration: none;
  color: rgba(242, 244, 246, 0.9);
  font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif !important;
  font-size: 12px;
}
.category-container {
  display: none;
}

.navbar-button-container {
  border: 0px solid;
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.try-button {
  margin-right: 15px;
  background-color: #0f79af;
  padding: 5px;
  width: 80px;
  cursor: pointer;
  color: rgba(242, 244, 246, 0.9);
  border-radius: 3px;
  font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif !important;
  font-size: 12px;
  font-weight: lighter;
  border: none;
}
.bi-search {
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}
select {
  width: 45px;
  margin-left: 05px;
  background-color: #0f171e;
  border: none;
  font-size: 12px;
  color: rgba(242, 244, 246, 0.9);
}
.bi-person {
  margin-left: 10px;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 101%;
  border: 0px solid;
}
.main-container-image1 {
  width: 100%;
  height: 330px;
  position: relative;
  background-image: linear-gradient(to right, #000 40%, transparent 60%),
    url("https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg");
  background-size: cover;
  color: white;
}
.main-container-image {
  width: 100%;
  height: 300px;
  top: 0;
  position: relative;
  background-image: linear-gradient(to left, #000 43%, transparent 50%),
    url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Left.jpg");
  background-size: cover;
  color: white;
}
.image-heading1 {
  width: 400px;
  position: absolute;
  top: 0;
  margin: 30px 0px 0px 50px;
  font-weight: lighter;
  border: 0px solid red;
  font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif !important;
}
.image-heading1 h5 {
  font-size: 15px;
  font-weight: lighter;

  line-height: 25px;
}
.image-heading1 h1 {
  font-size: 25px;
  font-weight: lighter;
}
.image-heading {
  position: absolute;
  right: 30px;
  top: 50px;
  border: 1px solid white;
  text-align: left;
  border: 0px solid red;
  font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif !important;
}
.image-heading > h1 {
  font-size: 25px;
  font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif !important;
  letter-spacing: 1px;
  font-weight: 100;
}
.image-heading > h5 {
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 1px;
}
.rent {
  background-color: #0f79af;
  padding: 10px;
  width: 200px;
  color: rgba(242, 244, 246, 0.9);
  font-size: 12px;
  font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif !important;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
