body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*================== navbar===================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333 !important;
  padding: 10px;
  font-weight: 400;
  color: #ddd;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
#nav {
  width: 800px;
}
#nav > ul {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}
#nav > ul > li,
a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1.4px;
  margin-left: 15px;
  color: #ddd;
}
#logo {
  font-weight: 600;
  font-size: 26px;
}
#nav > ul > li > a:hover {
  color: #6aaf08;
}
/*================== Section 1===================== */
/*================== Section 1===================== */
#box1 img {
  max-width: 100%;
  height: auto;
}

#box1 {
  display: block;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  background-color: #e5e5e5;
  background-repeat: no-repeat;
}
#box1 > #abs {
  position: absolute;
  left: 10%;
  right: 10%;
  max-width: 80%;
  letter-spacing: -1px;
  top: 200px;
  text-align: center;
  /* width: 500px; */
}
#abs h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 64px;
}
#abs p {
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}
.btn1 {
  background-color: #6aaf08;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  border: none;
  padding: 14px 20px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  border-radius: 6px;
  margin-top: 20px;
}
/*================== Section 2===================== */
#box2 {
  display: flex;
  flex-direction: row;
  /* border: 1px solid; */
  justify-content: space-between;
  margin: auto;
  gap: 10px;
  margin: 80px;
  /* flex-wrap: wrap; */
  /* width: 100%; */
}
#leftbox {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  width: 50%;
}
#leftbox > h3 > span {
  color: green;
}
#leftbox > h3 {
  font-size: 30px;
  margin: 0 0 10px 0;
}
#leftbox > .btn1 {
  width: 250px;
  margin-top: 20px;
}
.flex {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
  width: 50%;
}
.flex > div {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 100%;
}
.flex > div > img {
  width: 100%;
}
.flex > div > h3 {
  margin-bottom: 0;
}
#leftbox > hr {
  width: 50px;
  margin: 0 0 20px 0;
  text-align: center;
  border: 2px solid green;
}
#leftbox > p {
  line-height: 25px;
}
