body {
  font-family: Okra, Helvetica, sans-serif;
}
nav {
  border: 0px solid;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav img {
  border: 0px solid;
  width: 150px;
}
.search {
  border: 1px solid rgb(232, 232, 232);
  padding: 10px;
  width: 900px;
  height: 2.4rem;
  margin-right: 0px;
  box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
}
.search input {
  padding: 10px;
  border: none;
  font-size: 18px;
}
.search-dish {
  width: 600px;
}
.line {
  border: 0px solid;
  width: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  color: rgb(180, 173, 173);
}
.login-button {
  width: 200px;
  border: 0px solid;
  padding: 10px;
}
.login,
.signup {
  margin: 10px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  color: rgb(105, 105, 105);
}
/*Navbar End*/
/**Container css */
.container {
  border: 0px solid;
  margin-left: 50px;
  display: flex;

  flex-direction: row;
}
.card-container {
  border: 0px solid green;
  display: flex;
  align-items: center;
  margin-right: 50px;

  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.card-container .img {
  background-color: rgb(252, 238, 192);
  width: 80px;
  height: 70px;
  margin: 10px;
  padding: 0px;
  border-radius: 50%;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container .img > img {
  width: 80;
  height: 40px;
  margin: 30px;
  border: 0px solid rgb(28, 25, 253);
}
.card-container h4 {
  font-size: 25px;
  color: rgb(239, 79, 95);
  font-weight: 300;
}
.card-container .grey {
  background-color: rgb(235, 234, 234);
}
.card-container .grey-color {
  color: rgb(105, 105, 105);
}
/* container css End*/
/**Filter css*/
.filter-container {
  border: 0px solid;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.filter-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(207, 207, 207);
  width: 110px;
  height: 30px;
  margin: 20px;
  padding: 10px;
  box-shadow: rgb(54 54 54 / 6%) 0px 1px 2px;
  border-radius: 0.8rem;
  font-family: "Okra", Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
.filter-card-container h5 {
  font-size: 15px;
  color: rgb(156, 156, 156);
  font-weight: lighter;
}
.filter-container .width {
  width: 150px;
}
.filter-container .width2 {
  width: 120px;
}
/*filter css end*/
/*carousal Css*/
