body {
  font-family: "Okra", Helvetica, sans-serif;
}
nav {
  border: 0px solid;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav img {
  border: 0px solid;
  width: 150px;
}
.search {
  border: 1px solid rgb(232, 232, 232);
  padding: 10px;
  width: 900px;
  height: 2.4rem;
  margin-right: 0px;
  box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
}
.search input {
  padding: 10px;
  border: none;
  font-size: 18px;
}
.search-dish {
  width: 600px;
}
.line {
  border: 0px solid;
  width: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  color: rgb(180, 173, 173);
}
.login-button {
  width: 200px;
  border: 0px solid;
  padding: 10px;
}
.login,
.signup {
  margin: 10px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  color: rgb(105, 105, 105);
}
/*Navbar End*/
/**Container css */
.container {
  border: 0px solid;
  margin-left: 75px;
  display: flex;

  flex-direction: row;
}
.card-container {
  border: 0px solid green;
  display: flex;
  align-items: center;
  margin-right: 50px;

  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.card-container .img {
  background-color: rgb(252, 238, 192);
  width: 80px;
  height: 70px;
  margin: 10px;
  padding: 0px;
  border-radius: 50%;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container .img > img {
  width: 80;
  height: 40px;
  margin: 30px;
  border: 0px solid rgb(28, 25, 253);
}
.card-container h4 {
  font-size: 25px;
  color: rgb(239, 79, 95);
  font-weight: 300;
}
.card-container .grey {
  background-color: rgb(235, 234, 234);
}
.card-container .grey-color {
  color: rgb(105, 105, 105);
}
/* container css End*/
/**Filter css*/
.filter-container {
  border: 0px solid;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.filter-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(207, 207, 207);
  width: 110px;
  height: 30px;
  margin: 20px;
  padding: 10px;
  box-shadow: rgb(54 54 54 / 6%) 0px 1px 2px;
  border-radius: 0.8rem;
  font-family: "Okra", Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
.filter-card-container h5 {
  font-size: 15px;
  color: rgb(156, 156, 156);
  font-weight: lighter;
}
.filter-container .width {
  width: 150px;
}
.filter-container .width2 {
  width: 120px;
}
/*filter css end*/
/*carousal Css*/

/*Brand container css*/
.brand-heading {
  color: rgb(28, 28, 28);
  font-size: 35px;
  line-height: 1.2;
  font-weight: 100;
  padding: 20px;
  margin: 20px 20px 0 70px;
}
.brand-container {
  border: 0px solid;
  width: 90%;
  margin-left: 60px;
  cursor: pointer;
  display: flex;
}
.brand-card {
  border: 0px solid red;
  margin: 20px 0px 0px 35px;
  padding: 0px;

  text-align: center;
}
.brand-card img {
  width: 150px;
  border: 0px solid grey;
  padding: 10px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.brand-card h6 {
  color: rgb(28, 28, 28);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  border: 0px solid;
  margin: 20px 20px 30px 20px;
}
.brand-card h6 + h6 {
  font-size: 15px;
  color: rgb(92, 90, 90);
}
/*Grid container CSS*/
.food-container {
  border: 0px solid;
  width: 100%;
  margin: 0 0px 0px 30px;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 10fr);
}
.food-card {
  display: flex;
  flex-direction: column;
  border: 0px solid;
  margin: 20px;
  padding: 20px;
}
.food-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}
.food-card img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  border: 0px solid red;
}
.abs {
  border: 0px solid blueviolet;
}
.food-heading {
  display: flex;
  border: 0px solid;
  justify-content: space-between;
  align-items: center;
}
.food-heading h2 {
  font-weight: 500;
  color: rgb(28, 28, 28);
  border: 0px solid;
  margin: 10px;
}
.star {
  border: 1px solid rgb(38, 126, 62);
  padding: 8px;
  background-color: rgb(38, 126, 62);
  color: white;
  font-size: 15px;
  font-weight: lighter;
  width: 50px;
  height: 10px;
  margin: 0;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
.food-location {
  display: flex;
  justify-content: space-between;
  border: 0px solid;
  color: rgb(105, 105, 105);
  line-height: 1px;
  margin-left: 10px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.food-location h5 {
  font-size: 18px;
  font-weight: lighter;
}
.line-bar {
  border: 0px solid;
  height: 0.1rem;
  background-color: rgb(218, 214, 214);
  margin-bottom: 0.5;
  margin: 0 5px 0 10px;
  width: 400px;
}
.logo-order {
  border: 0px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(130, 130, 130);
}
.logo-order p {
  font-size: 15px;
}

.logo-order .lg {
  width: 25px;
  height: 25px;
}

.logo-order .lg2 {
  width: 80px;
  height: 25px;
  border: 0px solid;
  border-radius: 0;
}
