body{
    font-family: 'Okra', Helvetica, sans-serif
}
#container{
   height: 500px;
    background: url("./brooke-lark-M4E7X3z80PQ-unsplash.jpg");

}
.navbar{
   border: 0px solid; 
   display: flex;
   justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
     margin-left:40px;
     width: 400px;
     border: 0px solid white;
    }
   
.logo p{
    margin-left:5px;
    color:white
}
ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 0px solid white;
    margin-right: 100px;
    width: 50%;
    font-weight: 300;
    color: rgb(255, 255, 255);
    
}
li{
    list-style: none;
    color: white;
    letter-spacing: 1px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(255, 255, 255);
}
li a{
 text-decoration: none;
 color: white;
 font-family: 'Okra', Helvetica, sans-serif

}

/* CSS FOR HEADING CLASS*/
.heading{
    border: 0px solid;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.heading h1{
    font-size: 80px;
    font-style: italic;
    font-weight: 1000;
    border: 0px solid;
    padding: 0px;
}
.heading h2{
    font-size: 2rem;
    margin-top:2px;
    border: 0px solid;
}
.line{
    border: 0px solid;
    width: 100px;
    font-weight: 100;
    font-size: 30px;color: rgb(180, 173, 173);
}
.search{
    border: 0px solid;
    width:900px;
    margin: auto;
    padding: 15px;
    text-align: left;
    background-color: white;
    border-radius: 14px;
    
}

.search-location{
    width: 250px;
    padding: 10px;
    border: none;
    letter-spacing: 1px;
    font-size: 15px;
    border: 0px solid;

}
.search-dish{
    width: 500px;
    padding: 10px;
    border: none;
    letter-spacing: 1px;
    font-size: 15px;
}
.search:nth-child(1){
    padding-top: 20px;border: 1px solid;

}